@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700i&display=swap');

html {
  body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }
}

.hero {
  height: 100vh;
  visibility: hidden;
  .container {
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
    .hero-content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100vh;
      margin: 0 24px;
      .hero-content-inner {
        width: 50%;
        h1 {
          font-weight: 700;
          font-size: 98px;
          line-height: 86px;
          margin: 0;
          .hero-content-line {
            height: 100px;
            overflow: hidden;
            margin: 0;
           &.second {
              color: #688b9e;
              margin-bottom: 20px;
            }
          }
        }
        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
          padding-right: 48px;
          margin-bottom: 40px;
        }
        .btn-row {
          display: flex;
          gap: 20px;
          button {
            border: none;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            font-weight: 100;
            letter-spacing: 0.7px;
            border-radius: 5px;
            display: flex;
            align-items: center;

            &:focus {
              outline: none;
            }
            &.booknow {
              background-color: #688b9e;
              color: #fff;
            }
            &.explore {
              .arrow-icon {
              }
            }
          }
        }
      }
      .images {
        width: 50%;
        height: 100vh;
        position: relative;
        .image-container {
          
          .image-right {
            overflow: hidden;
            
            position: absolute;
            width: 352px;
            height: 441px;
            left: 22px;
            top: 25%;
          }
          .image-left {
            overflow: hidden;
            position: absolute;
            width: 292px;
            height: 365px;
            left: 438px;
            top: 15%;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
          }
        }
        .ellipse1 {
          position: absolute;
          left: 233px;
          top: calc(105px + 77px);
          z-index: -1;
        }
        .ellipse2 {
          position: absolute;
          left: 246px;
          top: calc(105px + 105px);
          z-index: -1;
        }
      }
    }
  }
}
